sudo: false
language: ruby
rvm:
  - 2.3.1
script:
  - cd spec/dummy && RAILS_ENV=test bundle exec rake db:create db:migrate
  - cd ../.. && bundle exec rspec spec
deploy:
  provider: rubygems
  api_key:
    secure: vCkiG5yfu9KE/I4JQNG6gihE8ayBYsDbYRRmVIYw09DUC3C7En+mvGYjtwZTLMt4gmdltRngL20VQ8+OLqCxP4OneDg36R46CskkDim1OgKsk9M8++QKMbc3MGblxAfSkzxvsZ0w4T1APFzqcHbxwJberpkVTw/eweUK85WJTMX8hwYSqlXdYb1xMyeGFUhRp0qt9GHXma+qhg/vMM1e7aymbZQrE00d9WzHaW4egwzM4J0Ggk+XOXVs7CDdblKB1Ui87wOz3WcakwjTRQ289FjInAasFYVVphoo7R5fAWAahgjQ3ubD/nN00+TkT+No+9zCwKWMjfzSsDMg9r++GkarC8QS7F2/DUCRtxzfAbzZvPEndbyTWIji0iBHTkrWAa7+COGeBNdZ+yNqc76mITPxnwfBN5za5RtEUNNtaD/qiRQnq/1blYEOz1xQ0NG46HxrZ7FQ60Wtv5+Rt3LsfG9LYravurueINVdIJTZadeDp2hfSHP6AF9T9Q6XQZKeb3chEwoaETJfEfz4PRGfWF8fM8HzlB/Vd63DRdt+uaCVKSypt/GpkWWFzuMFTgQB/Cwfp482S/qs8mFGWor2qOdxJmHZz1LvtTy0wEEvh91O3ad97Z7jQPNU71tAV6V4ifMTSKocDGn6Av/6vT95+fqjP/G+a6BwHWJf4ca63pQ=
  gem: paperclip_attributes
  on:
    tags: true
    repo: platanus/paperclip_attributes
